<%- include('../partials/head', {title:PageTitle})%>
<%- include('../partials/nav')%>
<form action = "/admin/edit-product"method="post">
        <input type="hidden" name="id" value="<%=product.id%>">
        <div class="form-group ">
            <label>Enter name :  </label>
            <input  class="form-control" type="text" name="name" value="<%=product.name%>">
        </div>
        <div class="form-group">
            <label>Enter type :  </label>
            <input  class="form-control" type="text" name="type" value="<%=product.type%>">
        </div>
        <div class="form-group">
            <label>Enter price :  </label>
            <input  class="form-control" type="number" name="price" value="<%=product.price%>">
        </div>
        <div class="form-group">
            <label>Enter description :  </label>
            <input  class="form-control" type="text" name="description" value="<%=product.description%>">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="save">
        </div>
    </form>
    <%- include('../partials/footer')%>