<%- include('../partials/head', {PageTitle:title})%>
<%- include('../partials/nav')%>


    <div class="row m-10">
    <% for(p of prods){%>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= p.image%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= p.name%></h5>
              <p class="card-text"><%= p.description%></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    <%}%>
    </div>

<%- include('../partials/footer')%>